// *,
// ::before,
// ::after {
//   box-sizing: border-box;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  // font-family: $muli;
  padding-top: 100px;
  background: $secondary;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 100px);


  h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, figure, img {
      margin: 0;
  }

  main {

  }
}
