<section class="accordion">
    <div class="accordion__box">
        <h3 class="accordion__label">List item 1</h3>
        <p class="accordion__content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad a molestias unde
            saepe perferendis voluptates itaque, nemo facere illo earum architecto aperiam totam dolore ducimus quia
            explicabo tempore, obcaecati cum.</p>
    </div>
    <div class="accordion__box">
        <h3 class="accordion__label">List item 1</h3>
        <p class="accordion__content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad a molestias unde
            saepe perferendis voluptates itaque, nemo facere illo earum architecto aperiam totam dolore ducimus quia
            explicabo tempore, obcaecati cum.</p>
    </div>
    <div class="accordion__box">
        <h3 class="accordion__label">List item 1</h3>
        <p class="accordion__content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad a molestias unde
            saepe perferendis voluptates itaque, nemo facere illo earum architecto aperiam totam dolore ducimus quia
            explicabo tempore, obcaecati cum.</p>
    </div>
</section>