<section class="accordion">
    <div class="accoridion__container container">
        <div class="accordion__box">
            <h3 class="accordion__label">Streaming on Twitch</h3>
            <p class="accordion__content">In my spare time I stream video games on Twitch, primarily horror games or Dead by
                Daylight. I've reached nearly 1k followers and even had a raid and some support from the comedian Limmy at
                one point. I also make my own emotes, notifications and overlays using Photoshop and Procreate. After
                streams are finished I edit my videos using Davinci Resolve and upload them to YouTube</p>
        </div>
        <div class="accordion__box">
            <h3 class="accordion__label">Art</h3>
            <p class="accordion__content">If I'm not coding or gaming then I'll usually be found drawing/painting! I have
                some art uploaded to my <a href="https://www.instagram.com/windscanvas" target="_blank">art instagram
                account: @windscanvas</a>. I like to mix between digital painting on my ipad using Procreate and
                traditional art using acrylics or watercolours. I hope to be able to combine my art and coding skills more
                in personal projects and is probably a reason I enjoy scss so much.</p>
        </div>
        <div class="accordion__box">
            <h3 class="accordion__label">Fitness</h3>
            <p class="accordion__content">My other hobbies are weight lifting and running. I've ran two half marathons and
                several 10ks. In January 2022 I ran 5km every day of the month. I find fitness and the science behind it all
                very interesting!</p>
        </div>
        <div class="accordion__box">
            <h3 class="accordion__label">Music</h3>
            <p class="accordion__content">I write and record music, I do a mixture of acoustic guitar writing or electronic ambient music on Ableton. You can check out example works of my electronic stuff <a target="_blank" href="https://soundcloud.com/nicola-hogg/tracks">here on Soundcloud</a></p>
        </div>
    </div>
</section>