<section class="carousel @@classname">
    <div class="carousel__container">
        <div class="carousel__slide-container">
            <div class="carousel__slides">
                <div class="carousel__item carousel__item--video">
                    <video autoplay loop muted playsinline>
                        <source src=".\assets\videos\turn-the-tables.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="carousel__item carousel__item--video">
                    <video autoplay loop muted playsinline>
                        <source src=".\assets\videos\frank-water.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="carousel__item carousel__item--video">
                    <video autoplay loop muted playsinline>
                        <source src=".\assets\videos\bristol-carpet-flooring.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="carousel__item carousel__item--video">
                    <video autoplay loop muted playsinline>
                        <source src=".\assets\videos\bristol-creative-industries.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="carousel__item carousel__item--video">
                    <video autoplay loop muted playsinline>
                        <source src=".\assets\videos\imaginatal.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="carousel__item carousel__item--video">
                    <video autoplay loop muted playsinline>
                        <source src=".\assets\videos\accoya.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="carousel__item carousel__item--video">
                    <video autoplay loop muted playsinline>
                        <source src=".\assets\videos\world-wide-roar.mp4" type="video/mp4">
                    </video>
                </div>
        
            </div>
        </div>

        <div class="carousel__border"></div>
    </div>
    
</section>