<footer class="footer">
    <div class="footer__container container">
        <div class="footer__top">
            @@include('./components/logo.html', {
                'classname': 'logo--footer'
            })
            <div class="footer__columns">
                <ul class="footer__column">
                    <li class="footer__item"><a href="/portfolio-commercial.html">commercial portfolio</a></li>
                    <li class="footer__item"><a href="/portfolio-personal.html">personal portfolio</a></li>
                    <li class="footer__item"><a href="/portfolio-freelance.html">freelance portfolio</a></li>
                </ul>
                <ul class="footer__column">
                    <li class="footer__item"><a href="/contact.html">contact</a></li>
                    <li class="footer__item"><a href="/freelancing-services.html">freelance</a></li>
                    <li class="footer__item"><a target="_blank" href="https://www.fiverr.com/ambedoweb">fiverr</a></li>
                </ul>
            </div>
            @@include('./components/socials.html')
        </div>
        <div class="footer__bottom">
            <p class="footer__terms">© 2022 Nicola Hogg · Site by Nicola Hogg (<a href="https://ambedoweb.netlify.app/">AmbedoWeb</a>)</p>
        </div>
    </div>
</footer>