<div class="secondary-nav">
    <div class="secondary-nav__container container">
        <ul class="secondary-nav__menu-items">
            <li class="secondary-nav__menu-item">scss</li>
            <li class="secondary-nav__menu-item">vanilla javascript</li>
            <li class="secondary-nav__menu-item">vuejs</li>
            <li class="secondary-nav__menu-item">react</li>
            <li class="secondary-nav__menu-item">node.js</li>
            <li class="secondary-nav__menu-item">c#</li>
        </ul>
    </div>
</div>