<div class="secondary-nav">
    <div class="secondary-nav__container container">
        <ul class="secondary-nav__menu-items">
            <li class="secondary-nav__menu-item">
                <a href="#scss">scss</a>
           </li>
            <li class="secondary-nav__menu-item">
                <a href="#js">vanilla javascript</a>
           </li>
            <li class="secondary-nav__menu-item">
                <a href="#vuejs">vuejs</a>
           </li>
            <li class="secondary-nav__menu-item">
                <a href="#react">react</a>
           </li>
            <li class="secondary-nav__menu-item">
                <a href="#node">node.js</a>
           </li>
            <li class="secondary-nav__menu-item">
                <a href="#csharp">c#</a>
           </li>
        </ul>
    </div>
</div>