<section class="text-image text-image--bespoke @@classname">
    <div class="text-image__container container">
        <div class="text-image__border @@classname-border">
            @@include('./components/image.html', {
                'classname': 'image--text-image-bespoke @@classname-image',
                'image': '@@image',
                'image_name': '@@image_name',
                'clickable': false
            })
        </div>
        <div class="text-image__text-box">
            <h3 class="text-image__title">@@title_two</h3>
            <p class="text-image__text">@@content_two</p>
            <ul class="text-image__list">
                <li class="text-image__list-item">@@list_one</li>
                <li class="text-image__list-item">@@list_two</li>
                <li class="text-image__list-item">@@list_three</li>
                <li class="text-image__list-item">@@list_four</li>
                <li class="text-image__list-item">@@list_five</li>
                <li class="text-image__list-item">@@list_six</li>
            </ul>
            <a href="@@button_link" target="_blank" class="text-image__link">@@button_text</a>
        </div>
    </div>
</section>