@mixin h1() {
    font-family: $fontprimary;
    font-size: 120px;
    line-height: 125px;
    font-weight: $f-bold;
    color: $coral;
}

@mixin h2() {
    font-family: $fontprimary;
    font-size: 80px;
    line-height: 85px;
    font-weight: $f-bold;
    color: black;
}

@mixin h3() {
    font-family: $fontprimary;
    font-size: 60px;
    line-height: 65px;
    font-weight: $f-bold;
    color: black;
}

@mixin h4() {
    font-family: $fontprimary;
    font-size: 40px;
    line-height: 45px;
    font-weight: $f-bold;
    color: black;
}

@mixin p() {
    font-family: $fontprimary;
    font-size: 16px;
    line-height: 20px;
    font-weight: $f-regular;
    color: black;
}

@mixin a() {
    font-family: $fontprimary;
    font-size: 16px;
    line-height: 20px;
    font-weight: $f-bold;
    color: $coral;
    text-decoration: none;
    transition: .2s;

    &:hover {
        color: $salmon;
    }
}

@mixin nav() {
    font-family: $fontprimary;
    font-size: 18px;
    line-height: 22px;
    font-weight: $f-regular;
    color: $white;
    text-decoration: none;
    transition: .5s;
    text-transform: lowercase;

    &:hover {
        color: $teal;
    }
}
