@mixin h1() {
    font-family: $fontprimary;
    font-size: 120px;
    line-height: 125px;
    font-weight: $f-light;
    color: $tertiary;
}

@mixin h2() {
    font-family: $fontprimary;
    font-size: 80px;
    line-height: 85px;
    font-weight: $f-light;
    color: $tertiary;
}

@mixin h3() {
    font-family: $fontprimary;
    font-size: 60px;
    line-height: 65px;
    font-weight: $f-light;
    color: $tertiary;

    @media (max-width: 599px) {
        font-size: 40px;
        line-height: 45px;
    }
}

@mixin h4() {
    font-family: $fontprimary;
    font-size: 40px;
    line-height: 45px;
    font-weight: $f-light;
    color: $tertiary;
}

@mixin p() {
    font-family: $fontprimary;
    font-size: 16px;
    line-height: 20px;
    font-weight: $f-regular;
    color: $tertiary;
    letter-spacing: 0.02em;
}

@mixin a() {
    font-family: $fontprimary;
    font-size: 16px;
    line-height: 20px;
    font-weight: $f-regular;
    color: $blueblack;
    text-decoration: none;
    transition: color .2s;
    display: inline-block;

    &:hover {
        color: $darksalmon;
    }
}

@mixin nav() {
    font-family: $fontprimary;
    font-size: 18px;
    line-height: 22px;
    font-weight: $f-regular;
    color: $white;
    text-decoration: none;
    transition: color .5s;
    text-transform: lowercase;

    &:hover {
        color: $darksalmon;
    }
}
