.image {
    height: 0;

    &--text-image {
        width: 48%;
        padding-top: 30%;

        @media (max-width: 1024px) {
            width: 100%;
            padding-top: 65%;
        }
    }

    &--circle {
        width: 40%;
        padding-top: 40%;
        margin: 0 auto;
        
        img {
            border-radius: 50%; 
        }

        @media (max-width: 600px) {
            width: 100%;
        }
    }

    @include image();

}