.image {
    height: 0;
    @include image();
    position: relative;

    &--text-image {
        width: 48%;
        padding-top: 30%;

        /**for portrait**/
        // width: 33%;
        // padding-top: 50%;

        @media (max-width: 1024px) {
            width: 100%;
            //padding-top: 65%;
            padding-top: 50%;
            margin-bottom: 20px;
        }
    }

    &--text-image-bespoke {
        width: 100%;
        padding-top: 130%;
    }

    &--contain {

        img {
            object-fit: contain;
            background: $white;
        }
    }

    &--circle {
        width: 40%;
        padding-top: 40%;
        margin: 0 auto;
        
        img {
            border-radius: 50%; 
        }

        @media (max-width: 600px) {
            width: 100%;
        }
    }

    &--zoom {
        @include img-zoom();
    }

    &--circle-mobile {

        @media (max-width: 1024px) {
            width: 100%;
            padding-top: 40%;
            margin: 0 auto;
            padding-top: 100%;
            
            img {
                border-radius: 50%; 
            }
        
        }
    }

    &--border {
        width: 100%;
        border-radius: 5px;
        padding-top: 130%;
    }

    &--border-circle {
        @media (max-width: 1024px) {
            border-radius: 50%;
        }
    }

    &--link {
        display: block;
 
    }

}