<ul class="nav__menu-items">
    <li class="nav__menu-item">
        <a href="/about">about</a>
    </li>
    <li class="nav__menu-item-has-children">
        <a href="/portfolio">portfolio</a>
        <ul class="nav__sub-menu">
            <li class="nav__menu-item">
                <a href="" class="">Sample 1</a>
            </li>
            <li class="nav__menu-item">
                <a href="">Sample 2</a>
            </li>
            <li class="nav__menu-item">
                <a href="">Sample 3</a>
            </li>
        </ul>
    </li>
    <li class="nav__menu-item">
        <a href="/pricing">price list</a>
    </li>
    <li class="nav__menu-item">
        <a href="/contact">contact</a>
    </li>
</ul>