<ul class="nav__menu-items">
    <li class="nav__menu-item-has-children">
        <p>portfolio</p>
        <ul class="nav__sub-menu">
            <li class="nav__menu-item">
                <a href="/portfolio-commercial.html" class="">commercial</a>
            </li>
            <li class="nav__menu-item">
                <a href="/portfolio-personal.html">personal</a>
            </li>
            <li class="nav__menu-item">
                <a href="/portfolio-freelance.html">freelance</a>
            </li>
        </ul>
    </li>
    <li class="nav__menu-item">
        <a href="/pricing">freelancing services</a>
    </li>
    <li class="nav__menu-item">
        <a href="/contact">contact</a>
    </li>
</ul>